<content-card [title]="'Accounts'">
  <mat-progress-bar mode="indeterminate" *ngIf="!accounts.length"></mat-progress-bar>

  <table mat-table [dataSource]="accounts" class="table" *ngIf="accounts.length">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="balance">
      <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
    </ng-container>

    <!-- Currency Column -->
    <ng-container matColumnDef="currency">
      <td mat-cell *matCellDef="let element"> {{ getCurrencyName(element) }} </td>
    </ng-container>

    <!-- Account Type Column -->
    <ng-container matColumnDef="accountType">
      <td mat-cell *matCellDef="let element"> {{ getAccountTypeName(element) }} </td>
    </ng-container>
  
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="view(row)"></tr>
  </table>
</content-card>


