@model bool
@{
    ViewData["Title"] = "Connection";
}

<h2>Connection Status</h2>

@if (Model)
{
    <label>The connection was succesful.</label>
}
else
{
    <label>The connection failed.</label>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>