<div class="row">    
    <div class="col-sm-4">
        <content-card>
            <h3>Change Password</h3>
            <mat-form-field>
                <mat-label>Old Password</mat-label>
                <input matInput [(ngModel)]="oldPassword" [formControl]="oldPasswordFormControl">
                <mat-error *ngIf="oldPasswordFormControl.hasError('required')">
                    Old password is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput [(ngModel)]="newPassword" [formControl]="newPasswordFormControl">
                <mat-error *ngIf="newPasswordFormControl.hasError('required')">
                    Old password is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Repeat new Password</mat-label>
                <input matInput [(ngModel)]="repeatNewPassword" [formControl]="repeatNewPasswordFormControl">
                <mat-error *ngIf="repeatNewPasswordFormControl.hasError('required')">
                    Old password is required
                </mat-error>
            </mat-form-field>
            <button mat-button (click)="submit()" class="pull-right">
                <mat-icon aria-hidden="false" aria-label="Example home icon" [style.color]="colorService.getSuccess()">check</mat-icon>
           </button>
        </content-card>
    </div>
</div>