@model HomeManagement.Models.ConfigurationSettingModel

@{
    ViewData["Title"] = "Edit";
}
<partial name="/Views/Shared/_Header.cshtml" />
<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        <h2>Edit</h2>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" value="@Model.Id" disabled />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">                        
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" value="@Model.Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Value" class="control-label"></label>
                        <input asp-for="Value" class="form-control" value="@Model.Value" />
                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </main>
</div>
<partial name="/Views/Shared/_Footer.cshtml" />
