<div class="container">
    <div class="row">
        <h1>
            Account {{ account.name }}
        </h1>
    </div>
    <div class="row">
        <h3 [style.color]="getColor()">
            Balance: {{ account.balance }} {{ getCurrencyName() }}
        </h3>
    </div>
    <div class="row">
        <h3>
            <mat-checkbox [(ngModel)]="account.measurable" (change)="onMeasureChanged()">
                Measurable
            </mat-checkbox>
        </h3>
    </div>
    <div class="row">
        <h3>
            Account Type: {{ getAccountType() }}
        </h3>
    </div>
</div>