@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            <TopBar></TopBar>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="main">
            <div class="top-row px-4" style="background-color: #202020;">

            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>