<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <income-metric></income-metric>
      </div>
      <div class="col-sm-6">
        <outcome-metric></outcome-metric>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <accounts-list></accounts-list>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <outcome-categories-chart></outcome-categories-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <accounts-evolution></accounts-evolution>
      </div>
    </div>
  </div>
</div>