/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* Provide sufficient contrast against white background */
@import './styles/colors.css';

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body
{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--main-bg-background-color);
    color: white !important;
    /*overflow: hidden;*/
}

.container{
  padding-top: 2%;
}

label {
  color:white !important;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.mat-dialog-container {
  background-color: var(--third-bg-background-color);
  color:white;
}

.hidden{
  display: none;
}

.bottom-sheet{
  background-color: var(--secondary-bg-background-color);
  color:white;
}

button:focus {
  outline: none !important;
}