@{
    ViewData["Title"] = "Home Page";
}
<partial name="/Views/Shared/_Header.cshtml"/>
<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        <div class="text-center">
            <h1 class="display-4">Administration Site</h1>
        </div>
    </main>
</div>
<partial name="/Views/Shared/_Footer.cshtml" />