<header>
  <nav>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Home Management</span>
        <span class="example-spacer"></span>
        <button *ngIf="isAuthenticated" matTooltip="Back to Home" mat-icon-button color="default" (click)="backToHome()">
          <mat-icon>home</mat-icon>
        </button>
        <button *ngIf="isAuthenticated" matTooltip="View your Personal Info" mat-icon-button color="default" (click)="viewAccount()">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button *ngIf="isAuthenticated" matTooltip="Download Personal Info" mat-icon-button color="default" (click)="downloadUserInfo()">
          <mat-icon>get_app</mat-icon>
        </button>
        <button *ngIf="isAuthenticated" mat-icon-button color="default">
          <mat-icon>notifications</mat-icon>
        </button>
        <button *ngIf="isAuthenticated" (click)="logout()" matTooltip="Log out" mat-icon-button color="default">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
</header>
