<header>
  <nav>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Home Management</span>
        <span class="example-spacer"></span>
        <button mat-icon-button color="default" aria-label="Example icon-button with a heart icon">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button color="default" aria-label="Example icon-button with a delete icon">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
</header>
