<h1 mat-dialog-title>We will send you a recovery token</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('required')">
            The email is required
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="ok()">Ok</button>
</div>