<div class="row">    
    <div class="col-sm-4">
        <content-card>
            <h3>Change Password</h3>    
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input name="newPasswordInput" type="password" autocomplete="off" 
                        #newPasswordInput matInput [(ngModel)]="newPassword">
                <mat-icon matSuffix *ngIf="newPasswordInput.value.length > 0 && newPasswordInput.value.length < 6" [style.color]="colorService.getDanger()">
                    error_outline
                </mat-icon>
                <mat-icon matSuffix *ngIf="newPasswordInput.value.length >= 6 && newPasswordInput.value.length < 10" [style.color]="colorService.getWarning()">
                    warning
                </mat-icon>
                <mat-icon matSuffix *ngIf="newPasswordInput.value.length >= 10" [style.color]="colorService.getSuccess()">
                    check
                </mat-icon>
                <mat-hint align="start">                    
                    <small *ngIf="newPasswordInput.value.length > 0 && newPasswordInput.value.length < 6" [style.color]="colorService.getDanger()">Weak password</small>
                    <small *ngIf="newPasswordInput.value.length >= 6 && newPasswordInput.value.length < 10" [style.color]="colorService.getWarning()">Medium password</small>
                    <small *ngIf="newPasswordInput.value.length >= 10" [style.color]="colorService.getSuccess()">Strong password</small>
                </mat-hint>
                <mat-hint align="end">{{newPasswordInput.value.length}} / 20</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Repeat new Password</mat-label>
                <input name="repeatNewPasswordInput" type="password" autocomplete="off" 
                        #repeatNewPasswordInput matInput [(ngModel)]="repeatNewPassword">
            </mat-form-field>
            <button mat-button (click)="submit()" class="pull-right">
                <mat-icon aria-hidden="false" aria-label="Example home icon" [style.color]="colorService.getSuccess()">check</mat-icon>
           </button>
        </content-card>
    </div>
</div>