<content-card>
    <div *ngIf="income">
        <h5>
            Total Income
            <small class="pull-right"
                [style.color]="income.total > 0 ? colorService.getSuccess() : colorService.getDanger()"
                [style.padding-top]="'2%'">
                {{ income.total }}
            </small>
        </h5>
        <hr [style.background-color]="'white'" />
        <div class="row">
            <div class="col-sm-8">
                <h5>
                    <mat-icon [style.font-size]="'15px'">
                        calendar_today
                    </mat-icon>
                    {{month}}
                </h5>
            </div>
            <div class="col-sm-4">
                <p>
                    <mat-icon [style.font-size]="'15px'" *ngIf="income.total > 0"
                        [style.color]="colorService.getSuccess()">
                        trending_up
                    </mat-icon>
                    <mat-icon [style.font-size]="'15px'" *ngIf="income.total < 0"
                        [style.color]="colorService.getDanger()">
                        trending_down
                    </mat-icon>
                    {{income.percentage}}
                </p>
            </div>
        </div>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="!income"></mat-progress-bar>
</content-card>